.link {
    font-size: 20pt;
    color: blue; /* Warna default untuk link belum diklik */
}

.link:hover {
    color: red; /* Warna saat kursor melayang di atas link */
}

.link:visited {
    color: greenyellow; /* Warna setelah link dikunjungi */
}
