.tulisan-satu {
    color: red;
    font-family: sans-serif;
    font-style: normal;
}

.tulisan-dua {
    color: green;
    font-size: 24pt; /* Anda bisa mengganti ini dengan 24px jika lebih suka */
    font-style: italic;
}

.tulisan-tiga {
    color: blue;
    font-weight: bold;
    font-style: oblique;
}
